.venv/
.venv
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
venv.bak/
pip-log.txt
pip-delete-this-directory.txt
node_modules/
.DS_Store
.idea/
.vscode/
*.egg-info/
build/
dist/
coverage/
*.log
